body {
    text-align: center;
}

.home {
    background-image: url(/images/h_img.jpg);
    background-position: center;
    color: white;
    padding: 30px;
}
.mouse {
    padding-top: 50px;
}
#logo {
    padding-top: 100px;
}
#lap {
    background-image: url(/images/s_image.jpg);
    background-position: center;
    color: white;
    padding: 30px;
}
#we-do {
    padding: 10px;
}
.col-md-4 {
    padding: 10px;
}
#portfolio {
    padding: 10px;
    margin: 2px;
}

.design-text {
    display: none;
}
.dev-text {
    display: none;
}
.product-text {
    display: none;
}

.image {
    padding: 20px;
}
.contact {
    background-image: url(/images/c_image.jpg);
    background-position: center;
    padding: 20px;
}
.form-control {
    background-color: transparent;
    border: none;
}
.text {
    background: transparent;
    border: 1px solid white;
    color: white;
    margin-bottom: 10px;
}
.message {
    background: transparent;
    border: 1px solid white;
    padding-bottom: 100px;
}
