body {
    text-align: center;
}
.home {
    background-image: url(/images/h_img.jpg);
    background-position: cover;
    color: white;
    padding: 30px;
}
.mouse {
    padding-top: 20px;
}
#logo {
    padding-top: 20px;
}
.lap {
    background-image: url(/images/s_image.jpg);
    background-position: cover;
    color: white;
    padding: 30px;
}
.about-us {
    text-align: center;
}
#we-do {
    padding: 10px;
}
#portfolio {
    padding: 10px;
    margin: 2px;
    padding-left: 2px;
}
.image {
    padding: 10px;
}
.contact {
    background-image: url(/images/c_image.jpg);
    padding: 20px;
}
.form-control {
    background-color: transparent;
    border: none;
}
.text {
    background: transparent;
    border: 1px solid white;
    color: white;
}
.message {
    padding-left: 0px;
    padding-bottom: 50px;
    background: transparent;
    border: 1px solid white;
}