body {
    text-align: center;
}
.home {
    background-image: url(/images/h_img.jpg);
    background-position: initial;
    color: white;
    padding: 50px;
}
.lap {
    background-image: url(/images/s_image.jpg);
    background-position: initial;
    color: white;
    padding: 50px;

}
.about-us {
    text-align: center;
}